* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

.hero-section {
  background-image: url(hero-assets/bg.png);
  background-size: cover;
  background-position: center;
  padding-top: 60px;
  padding-bottom: 100px;
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-logo {
  margin-left: auto;
  margin-right: auto;
}

.hero-heading {
  font-family: "Playfair Display", serif;
  font-size: 75px;
  color: black;
  font-weight: 900;
  text-align: center;
}

@media only screen and (max-width: 1000px) {
  .hero-logo {
    width: auto;
    height: auto;
  }

  .hero-heading {
    font-size: 55px;
    margin-top: 100px;
    padding: 10px;
  }
}

@media only screen and (max-width: 910px) {
  .hero-logo {
    width: 50%;
    height: auto;
  }
}

@media only screen and (max-width: 750px) {
  .hero-heading {
    font-size: 45px;
  }
}

@media only screen and (max-width: 600px) {
  .logo-text {
    flex-wrap: wrap;
  }

  .hero-logo {
    width: 100%;
  }
}

@media only screen and (max-width: 400px) {
  .hero-heading {
    font-size: 45px;
  }

  .num-wrap {
    flex-wrap: wrap;
  }

  .num-wrapper {
    width: 100%;
    border: none;
  }
}

@media only screen and (max-width: 300px) {
  .hero-heading {
    font-size: 30px;
  }
}
